@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*{
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
    background: rgb(131,58,180);
    background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
  }
  nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 500;
  }
  nav a:hover{
    background-color: #f0f0f0;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 110vh;
    width: 250px;
    background-color:#d9d9d9;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }

/*Base Styles and Navbar Above*/


/*Flexbox starts here*/

.flexbox{
    display:flex;
    justify-content: flex-start;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.textonleft{
    width: 100%;
    padding-left: 70px;
}
.textonleft h1{
    font-size: 110px;
    font-weight: bold;
    color: white;
}
.belowtext{
  font-size: 38px;
  color: white;
  line-height: 10%;
}
.imageonright{
    width: 100%;
    padding-top:50px;
    padding-right: 50px;
}
.imageonright img{
    max-width: 400px;
    border: 1px solid black;
    border-radius: 10px;
}
.mobileimageontop{
  display: none;
  justify-content: center;
  align-items: center;
  padding-top:20px;
}
.mobileimageontop img{
  max-width: 300px;
  border: 1px solid black;
  border-radius: 10px;
}
/*Flexbox ends here*/


/*Button CSS*/
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 14px 40px;
  color: #fff;
  background-image: linear-gradient(45deg, #df4881, #c430d7);
  font-size: 14px;
  font-weight: 200;
  border-radius: 30px;
  border-top-right-radius: 0;
  transition: 0.5s;
  margin-top: 40px ;
}

.btn:hover {
  border-top-right-radius: 30px;
}
/*Button CSS ends here*/

/*Flexbox 2 starts here*/
.imagesbox{
  width: 100%;
  margin-left: 100px;
  margin-top:20px;
}
.imagesbox img{
  display:flex;
  max-width: 40vw;
  border-radius: 10px;
  border: 1px solid black;
  margin: 5px;
}
.imagesbox h1{
  font-size: 50px;
  color: white;
}
.mobileonly{
  display:none;
}

.rightsidetext{
  width: 100%;
  margin-right: 70px;
}
.rightsidetext h1{
  font-size: 80px;
  font-weight: bold;
  color: white;
}
.rightsidetext h2{
  font-size: 25px;
  font-weight: 200;
  color: white;
}
/*Flexbox 2 ends here*/


/*Media Queries for screens start here*/
/*Phones*/
@media only screen and (max-width: 640px) {
    .imageonright{
        display:none;
    }
    .textonleft h1{
        padding-top:0px;
        font-size: 60px;
    }
    .belowtext{
        font-size: 21px;
        line-height: 25px;
    }
    .textonleft{
      padding-left: 0px;
    }
    .mobileimageontop{
      display: flex;
    }
    .btn{
      margin-top:20px ;
    }
    .mobileonly{
      display: flex;
      padding-left:10vw;
      padding-right: 10vw;
    }
    .onlylaptop{
      display:none;
    }
    .flexbox{
      display:block;
      box-sizing: border-box;
    }
    .imagesbox{
      width: 100%;
      margin-left:0px;
      left:50;
      margin-top:20px;
      box-sizing: border-box;
      align-items: center;  
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .imagesbox img{
      display:block;
      max-width: 70vw;
      border-radius: 10px;
      border: 1px solid black;
      margin: 5px;
      box-sizing: border-box;
    }
    .rightsidetext h2{
      font-size: 15px;
      font-weight: 200;
      color: white;
      box-sizing: border-box;
      margin: 10px;
      text-align:justify;
      margin-left:20px;
      margin-right: 20px;
    }
}



/*Tablets*/
@media only screen and (min-width:641px) and (max-width: 1024px) {
    .imageonright{
        display:none;
    }
    .textonleft h1{
        padding-top:30px;
        font-size: 100px;
    }
    .belowtext{
      font-size: 35px;
      line-height: 25%;
    }
    .textonleft{
        padding-left: 0px;
    }
    .onlylaptop{
      display:none;
    }
    .flexbox{
      display:block;
    }
    .rightsidetext h2{
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
}
/*Media Queries for screens end here*/

/*Extra media queries*/
@media only screen and (min-width: 1025px) and (max-width: 1160px){
    .rightsidetext{
      width: 100%;
      margin-right: 20px;
    }
    .rightsidetext h1{
      font-size: 65px;
      font-weight: bold;
      color: white;
    }
    .rightsidetext h2{
      font-size: 20px;
      font-weight: 200;
      color: white;
    }
}
